@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ffffff;
  --primary: #ffb400;
  --secondary: #252525;
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins);
  --font-body: var(--font-open-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.font-body {
  font-family: var(--font-open-sans);
}
